!!!
%html
  %head
    %title mynute
    %link{:href => "/css/reset.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/grid.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    #main
      #header
        %h1
          mynute
        #header-actions
          %a.add-time{ :href => "" } Add Time
      = yield
    #footer
      %a{ :href => "/export" } Export to CSV

      = @pager_json
      %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
      %script{:src => "/javascripts/mynute.js", :type => "text/javascript"}
      %script{:src => "/javascripts/loader.js", :type => "text/javascript"}
      %script{:src => "/javascripts/paginator.js", :type => "text/javascript"}
      %script{:src => "/javascripts/application.js", :type => "text/javascript"}
