!!!
%html
  %head
    %title mynute
    %link{:href => "/css/reset.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/main.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/grid.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    
  %body
    #main
      %h1 mynute
      = yield